$bk: linear-gradient(135deg, rgba(158,15,184,0.75) -10%, rgba(5,232,255,0.9) 135%), url('https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/free-abstract-background-1-vector.jpg');
#all {
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: $bk;
    background-size: cover;
    width: 360px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 7px;
  hr{
    position: relative;
    top: 10px;
  }
  #func {
    *{
      position: absolute;
      opacity: .5;
      background: rgba(0,0,0,.5);
      color: white;
      border: 0;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    #flsrn {
      right: 0;
    }
  #crsout{
    left: 50%;
    transform: traslate(-50%);
  }
  }
  #stats {
    #finished {
      
    }
  }
    #top {
      h1 {
        text-align: center;
        font-size: 25px;
        color: white;
      }
    }
    #to-do_list {
       height: 235px;
       background: rgba(255, 255, 255, .95);
      * { display: inline }
        .item {
          position: relative;
          height: 35px;
          width: 95%;
          left: 50%;
          transform: translate(-50%);
          background: none;
          border: none;
            border-bottom: 1px solid rgba(0,0,0,.5);
            font-size: 15px;
            font-weight: bold;
            color: #636363;
          &:focus {
            outline: none;
          }
        }
    }
    #bottom {
        background: white;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        button {
            font-size: 12.5px;
            color: rgba(255, 255, 255, .75);
            padding: 2.5px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 100px;
            background: $bk;
            border: 0;
            border-radius: 5px;
            &:focus {
                outline-style: none;
            }
        }
    }
}

.removeclass {
  border-radius: 10px;
}

.finished {
  text-decoration: line-through;
}


.rmvanimation {
  animation: removeA .5s;
}

@keyframes removeA {
  from{height: auto};
  to{height: auto + 38};
}